:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100:hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 80vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-100);
}

.card {
    color: var(--clr-neutral-100);
    padding: 10rem 0 0;
    max-width: 35ch;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
}

.card-content {
    padding: 1.5em;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(255 50% 50% / 0.5),
        hsl(0 0% 0% / 1) 
    );
}

.card img {
    max-height: 10rem;
}