.logo {
    width: 300px;
  }

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    background-color: var(--blue);
    width: 100vw;
}

@media  only screen and (max-width: 1040px) {
    .navBar {
        flex-direction: column;
        align-items: center;
    }
    .navBar * {
        margin: 0;
    }
    .logo {
        width: 250px;
      }
}

.searchContainer {
    display: flex;
    align-items: center;
}

.searchContainer input {
    max-width: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2px;
}

.buttonsContainer > * {
    margin: 1rem 2rem 1rem 1rem;
    text-decoration: none;
}

button {
    margin: 0 1rem;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: var(--coral);
    color: white;
    box-shadow: none;
    border-style: solid;
}

button:hover {
    filter: saturate(130%);
    filter: brightness(110%);
    transition: filter 0.1s ease-in-out;
}

.navBar p {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navBar input {
    margin: 6px 1rem;
}