#roundedcontainer {
    border-radius: 25px;
    background: white;
    border: 2px solid black;
    padding: 20px;
    width: auto;
    min-height: 200px; 
    margin: 50px 50px 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

#imagedisp{
    margin: 1rem 3rem 0 1rem;
    max-width: 40vh;
    width: auto;
}

@media  only screen and (max-width: 1040px) {
    #roundedcontainer {
        margin: 30px 25px 2rem;
        padding: 1rem;
        justify-content: space-around;
    }
    #imagedisp {
        margin: 1rem;
    }
}

.roundedcontainer ul {
    padding: 0;
    margin: 0;
}

#snacktext { 
    text-align: left;
    max-width: 70%;
}

#snacktext p {
    max-width: 100%;
}

.horizontaltags {
    list-style: none;
    margin: 0 0 1rem;
    padding: 0;
}

.horizontaltags li:hover {
    filter: saturate(130%);
    filter: brightness(110%);
    transition: filter 0.1s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 var(--coral);
    
}

.horizontaltags * {
    text-decoration: none;
    color: white;
}

.horizontaltags a {
    padding: 6px 12px;
    margin: 0 -1px;
}

.horizontaltags a:hover {
    text-decoration: none;
}

.horizontaltags h6 {
    color: black;
}

.horizontaltags li{
    display: inline;
    border-radius: 15px;    
    margin: 0 3px 10px;  
    background-color: rgb(245, 94, 94);
    padding: 5px;
    
}

.horizontaltags li:nth-child(3n+2){
    background-color: rgba(32, 229, 255, 0.89);   
}

.horizontaltags li:nth-child(3n+3){
    background-color: #FFBE0B;   
}

#tagtitle{
    background-color: transparent;   
    color: black;
    filter: none;
    filter: none;
    cursor: initial;
    box-shadow: initial;
    font-weight: bold;
    margin: 0px 10px 0 0;
}

.tagFlex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#snacktext > i {
    margin: 0 0 2rem;
}

.expandBtn {
    margin: 1rem 0;
}