#roundedcontainer {
    border-radius: 25px;
    background: white;
    border: 2px solid black;
    padding: 20px;
    width: auto;
    min-height: 200px; 
    margin: 50px 50px 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.roundedcontainer ul {
    padding: 0;
    margin: 0;
}

#snacktext { 
    text-align: left;
    max-width: 80%;
}

#snacktext p {
    max-width: 100%;
}

#imagedisp{
    margin: 1rem 50px 1rem 1rem;
    max-width: 50vh;
    width: auto;
}

.horizontaltags {
    list-style: none;
}

.horizontaltags li:hover {
    filter: saturate(130%);
    filter: brightness(110%);
    transition: filter 0.1s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 var(--coral);
    
}

.horizontaltags * {
    text-decoration: none;
    color: white;
}

.horizontaltags h6 {
    color: black;
}

.horizontaltags li{
    display: inline;
    border-radius: 15px;    
    margin: 0 3px;  
    background-color: rgb(245, 94, 94);
    padding: 10px;
    
}

.horizontaltags li:nth-child(3n+2){
    background-color: rgba(32, 229, 255, 0.89);   
}

.horizontaltags li:nth-child(3n+3){
    background-color: #FFBE0B;   
}


